<!--Developer:    Hunter Hatchette
    Accomplished: Set up register page to where the user may select to register as a buyer or seller.-->

@model BidTownHunterLocal.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
}

<h2>@ViewBag.Title.</h2>

@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <div>
        <h1>
            In order to get started with Bid Town, you must register! 
        </h1>
        <hr />
        <h2>
            -If you wish to BUY Exotic Pets you must register as a buyer.
        </h2>
        <h2>
            -If you wish to SELL Exotic Pets you must register as a seller.
        </h2>
        <h2>
            -If you wish to do BOTH, you must have separate accounts.
        </h2>
        <hr />
        <h3>
            *Note: In order to be a seller you must enter more detailed information and your acceptance will be subject to our approval.
        </h3>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <p><a class="btn btn-default" href="/Account/RegisterBuyer">Register Buyer! &raquo;</a></p>
            <p><a class="btn btn-default" href="/Account/RegisterSeller">Register Seller! &raquo;</a></p>
        </div>
    </div>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
