<!--Devloper:     Hunter Hatchette
    Accomplished: Set up the Browse Page.-->


@{
    ViewBag.Title = "Browse";
}

<style type="text/css">
    input [type='button'] {
        color: white;
    }

    header {
        color: red;
    }
</style>

<h2>Browse</h2>

