<!--Devloper:     Hunter Hatchette
    Accomplished: Set up the Index View which displays upon loading the webpage.-->
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Bid-Town!</h1>
    <p>Bringing you the best exotic pets that money can buy!</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            In order to buy your next pet you will need to make sure that you are registered as a buyer. If you wish
            to sell exotic pets of your own, you can submit a request to become a seller. Simply follow the link below to
            get started!
        </p>
        <p><a class="btn btn-default" href="/Home/About">Get Started! &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Browse</h2>
        <p>Get started quickly by clicking the link below to browse. Or use the navigation bar at the top to quickly
        get where you need to go!</p>
        <p><a class="btn btn-default" href="/Home/Browse">Browse! &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Your account</h2>
        <p>Access you account by clicking the link below!</p>
        <p><a class="btn btn-default" href="/Home/Account">Account! &raquo;</a></p>
    </div>
</div>